/** Reorder, comment */

#settings{
	margin-bottom: 10px;
	text-align: center;
}

div#stats{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

/* the keyboard */
svg {
    top: 30px;
}
  
.key.highlight{
	fill: #8da0cb !important;
}

.key.triad__prime{
	/* should stick out, stronger red */
	fill:  #d95f0e !important; 
}
.key.triad__third{
	/* light blue */
	fill:  #fec44f !important;
	/* brewer blue #8da0cb */
}
.key.triad__fifth{
	/* light red (more compatible to prime than third) */
	fill: #fff7bc !important;
}

thead td {
	font-weight: 500;
	color: gray;
    border-bottom: 1px solid lightgray;
}

td {
    width: 7%;
    text-align: center;
    height: 3em;
    vertical-align: middle;
    cursor: pointer;
}

.selected{
	background-color: aliceblue;
	outline: 2px solid gray !important;
	outline-offset: -2px !important;
}

#nextTask{
	margin-left: 50%;
    position: relative;
    width: 194.06px;
    left: -88px;
    height: 50px;
    font-size: large;
    border-radius: 5px;
}

.solution.option a {
    width: 2em;
    display: inline-block;
}

.solution-option .non-eligible {
	background-color: darkgray;
}
a.wrong{
	background: lightsalmon;
}

a.correct{
	background: springgreen;
}