
/* the keyboard */
svg {
    top: 30px;
}
  
.key.highlight{
	fill: #8da0cb !important;
}

.key.triad__prime{
	/* should stick out, stronger red */
	fill:  #d95f0e !important; 
}
.key.triad__third{
	/* light blue */
	fill:  #fec44f !important;
	/* brewer blue #8da0cb */
}
.key.triad__fifth{
	/* light red (more compatible to prime than third) */
	fill: #fff7bc !important;
}

#solution{
	text-align: center;
	font-size: 3em;
	background-color: #8da0cb;
	width: 30%;
	position: relative;
	height: 2.65em;
	margin-left: 50%;
	left: -15%;
	padding-top: 20px;
	border-radius: 13px;
}

thead td {
	font-weight: 500;
	color: gray;
    border-bottom: 1px solid lightgray;
}


td {
    width: 7%;
    text-align: center;
    height: 3em;
    vertical-align: middle;
    cursor: crosshair;
}

#solution-options tr.solution.option td:hover, #solution-options-inversion td:hover{
	background-color: aliceblue;
	outline: 1px solid lightgray;
	outline-offset: -1px;
}

.selected{
	background-color: aliceblue;
	outline: 2px solid gray !important;
	outline-offset: -2px !important;
}

.tried.correct{
	background: red;
}

#nextTask{
	margin-left: 50%;
    position: relative;
    width: 200px;
    left: -100px;
    height: 50px;
    font-size: large;
    border-radius: 5px;
}

.solution.option a {
    width: 2em;
    display: inline-block;
}


a.wrong{
	background: lightsalmon;
}

a.correct{
	background: springgreen;
}