* {
	font-weight: normal;
	font-family: system-ui;
	user-select: none;
}

#settings{
	margin-bottom: 10px;
	text-align: center;
}

.wrap {
  width: 500px;
  height: 290px;
  position: absolute;
  top: 50%;
  margin-top: -145px;
  left: 50%;
  margin-left: -250px;
}

#svg {
  top: 30px;
}

rect.key {
	stroke: black;
	stroke-miterlimit: 1;
}
rect.key.white {
	fill: white;
	stroke-width: 4px;
	width: 98.5043946px;
	height: 463.871582px;
}

rect.black.key {
	fill: black;
	stroke-width: 5px;
	width: 62.0385742px;
	height: 281.9633789px;
}

.key.highlight{
	fill: #8da0cb !important;
}

.key.highlight.triad__prime{
	fill: #fc8d62 !important;
}
.key.highlight.triad__third{
	fill: #8da0cb !important;
}
.key.highlight.triad__fifth{
	fill: #66c2a5 !important;
}

#solution{
	text-align: center;
	font-size: 3em;
	background-color: #8da0cb;
	width: 30%;
	position: relative;
	height: 2.65em;
	margin-left: 50%;
	left: -15%;
	padding-top: 20px;
	border-radius: 13px;
}

tbody td {
    width: 7%;
    text-align: center;
    height: 3em;
    vertical-align: middle;
    cursor: crosshair;
}

#solution-options-major td:hover,
#solution-options-minor td:hover{
	background: aliceblue;
}

.tried.correct{
	background: red;
}

input#nextTask{
	margin-left: 50%;
    position: relative;
    width: 200px;
    left: -100px;
    height: 50px;
	  	font-size: large;
}

.solution.option a {
    width: 2em;
    display: inline-block;
}

.scroller{
	width: 2em;
	height: 33px;
	line-height: 33px;
	font-size: 22px;
	overflow: hidden;
	scroll-behavior: smooth;
	display: inline-block;
}

a.wrong{
	background: lightsalmon;
}
a.correct{
	background: springgreen;
}